
    

section{
    position: absolute;
    box-sizing: border-box;
    background-image: url(/images/tom-clancys-the-division-4k-xb6s466mucmm1xht.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}