.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 0%);
    margin: 5px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 3px solid hsl(0, 89%, 48%);

}
