body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

#box1{
    background-color: red;
    margin-bottom: 50px;
    margin-left: auto;
    /* margin: auto; item be in center */
}

#box2{
    background-color: blue;
    margin-top: 3px;
}